/* https://readymag.com/artemtiunov/RingUILanguage/colours/ */

/*
Unit shouldn't be CSS custom property because it is not intended to change
Also it won't form in FF47 https://bugzilla.mozilla.org/show_bug.cgi?id=594933
*/

.clearfix_1e8::after {
    display: block;
    clear: both;

    content: '';
  }

.font_3f3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
  font-family: var(--ring-font-family);
  font-size: 13px;
  font-size: var(--ring-font-size);
  line-height: 20px;
  line-height: var(--ring-line-height);
}

.font-lower_cf2 {

  line-height: 18px;

  line-height: var(--ring-line-height-lower);
}

.font-smaller_1da {

  font-size: 12px;

  font-size: var(--ring-font-size-smaller);
}

.font-smaller-lower_c69 {

  line-height: 16px;

  line-height: var(--ring-line-height-lowest);
}

.font-larger-lower_fa1 {

  font-size: 14px;

  font-size: var(--ring-font-size-larger);
}

.font-larger_938 {

  line-height: 21px;

  line-height: var(--ring-line-height-taller);
}

/* To be used at large sizes */
/* As close as possible to Helvetica Neue Thin (to replace Gotham) */
.thin-font_52b {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-size: var(--ring-font-size);
  font-weight: 100; /* Renders Helvetica Neue UltraLight on OS X  */
}

.monospace-font_b2e {
  font-family: Menlo, "Bitstream Vera Sans Mono", "Ubuntu Mono", Consolas, "Courier New", Courier, monospace;
  font-family: var(--ring-font-family-monospace);
  font-size: 12px;
  font-size: var(--ring-font-size-smaller);
}

.ellipsis_894 {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Note: footer also has top margin which isn't taken into account here */

/* Media breakpoints (minimal values) */

/* Media queries */
.place-under {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  padding: 16px;
  background-color: #888;
}

.head {
  height: 30px;
}

.target-element {
  position: static;
  top: 0;
  width: 100%;
  padding: 16px;
  background-color: #CCC;
}

.scrollable {
  height: 1000px;
  padding: 16px;
  padding-top: 64px;
  background-color: #EEE;
}
  