
.icons {
  position: relative;
}

.icons svg {
  background-color: #eeea;
}

.underline {
  position: absolute;
  width: 100%;
  left: 0;
  border-bottom: 0.1em solid rgba(0, 255, 0, 0.4);
  bottom: 0.3em;
}
  