
.container {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container > * ~ * {
  margin-top: 8px;
}

.hub-link {
  text-align: center;
}

.hub-icon {
  margin: 16px 0 8px;
}
  