
body {
  margin: 0;
}

.inputs {
  display: flex;
  flex-flow: column wrap;
  max-height: 100vh;
  margin-top: 8px
}

.inputs rg-input {
  margin: 0 16px;
}

div.dark {
  background: #000;
  margin-left: 0;
  padding-left: 16px;
}
  