
body {
  margin: 0;
}

html,
body {
  height: 100%;
}
.popupContent {
  height: 1300px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.anchorBottom {
  position: absolute;
  bottom: 20px;
}
  